/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SPECIFICS */
/* SIDEBAR */
.sidebar {
    background-color: black;
    width: 200px;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar__account, .sidebar__menu{
    background-color: azure;
}

/* UPGRADE */
.upgrade {
    background-color: bisque;
    width: calc(100vw - 200px);
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 1;
}

/* MAIN */
.main {
    background-color: rgb(96, 160, 95);
    width: calc(100vw - 200px);
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 200px;
}

.nav {
    margin-top: 20px;
    text-align: center;
}

.main__content {
    background-color: brown;
    height: calc(100vw / 6 - 70px);
    margin: 10px;
}

/* MULTIMEDIA */
.multimedia {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.multimedia__current {
    display: flex;
    width: 100%;
    
}

.multimedia__current__time {
    width: 15%;
    background-color: chartreuse;

}

.multimedia__current__bar {
    width: 70%;
    background-color: darkorange;

}

/* LAYOUT */
.container {
    min-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col--100 {
    width: 100%;
}

.col--16 {
    width: calc(100% / 6);
    background-color: blueviolet;
    border: 1px solid black;
}

.col--15 {
    width: 15%;
    background-color: crimson;
    height: 100px;
}

.col--70 {
    width: 70%;
    background-color: darkblue;
}

.col--70--active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.text-end {
    text-align: end;
}

/* RESPONSIVE */
/* MD */
@media screen and ( max-width: 768px ) {
    .col--16 {
        width: calc(100% / 4);
    }
}

/* SM */
@media screen and ( max-width: 600px ) {
    .col--16 {
        width: calc(100% / 2);
    }
}

/* XSM */
@media screen and ( max-width: 480px ) {
    .sidebar {
        width: 50px;
    }

    .upgrade {
        width: calc(100vw - 50px);
        left: 50px;
    }

    .main {
        width: calc(100vw - 50px);
        left: 50px;
    }
}


