/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

/* SPECIFICS */
/* SIDEBAR */
.sidebar {
    background-color: black;
    width: 200px;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: rgba(255, 255, 255, 0.499);
}

.sidebar__logo {
    padding: 15px 0 10px 10px;
}

.sidebar__logo img {
    width: 50%;
}

.sidebar__menu span {
    padding-left: 3px;
    font-size: 10px;
}

.sidebar__search__img {
    width: 10%;
    float: left;
}

.sidebar__playlist {
    overflow-y: hidden;
}

.sidebar__playlist__title {
    padding-top: 15px;
    padding-bottom: 5px;
    color: white;
}

.sidebar__playlist ul {
    list-style-type: none;
    height: 43vh;
    overflow-y: auto;
}

.sidebar__playlist__list__item {
    font-size: 10px;
    padding: 10px 0;
}

.sidebar__account {
    background-color: black;
    position: fixed;
    bottom: 100px;
    left: 0px;
    z-index: 1;
}

.sidebar__account__install {
    font-size: 10px;
    padding: 0 0 5px 10px;
}

.sidebar__account__img {
    float: left;
    width: 20%;
}

.sidebar__account__install span {
    padding: 5px 5px;
}

.sidebar__account__name {
    padding: 5px 0 5px 10px;
}

.sidebar__account__name span {
    font-size: 12px;
    padding: 5px 5px;
}

.sidebar__account__hr {
    margin: 0 10px 0 10px;
    width: 200%;
}

/* UPGRADE */
.upgrade {
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100vw - 200px);
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 1;
}

.button {
    background-color: black;
    color: white;
}

.button--active {
    border-radius: 20px;
    padding: 10px 30px;
    margin: 15px;
    font-size: 8px;
    font-weight: 600;
}

/* MAIN */
.main {
    background-color: #141922;
    width: calc(100vw - 200px);
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 200px;
    overflow-y: scroll;
}

.nav {
    margin-top: 75px;
    text-align: center;
}

.nav__list__item{
    display: inline;
    font-size: 9px;
    color: rgba(255, 255, 255, 0.499);
    padding: 0 5px;
}

.main__title {
    margin: 15px 0 0 5px;
    color: white;
}

.main__title__album {
    color: white;
    text-align: center;
    font-size: 13px;
}

.main__subtitle {
    color: rgba(255, 255, 255, 0.499);
    padding: 5px 0;
}

.main__content {
    margin: 5px;
    padding-top: 10px;
}

.main__content img {
    width: 100%;
}

/* MULTIMEDIA */
.multimedia {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #282828;
}


.multimedia__info img {
    width: 40%;
    float: left;
    padding: 12px 5px 0 5px;
}

.multimedia__info__title {
    font-size: 11px;
    color: white;
    padding-top: 23px;
}

.multimedia__info__subtitle {
    font-size: 9px;
    color: rgba(255, 255, 255, 0.499);
}

.multimedia__info__icons {
    float: right;
    position: relative;
    bottom: 25px;
    right: 5px;
    color: rgba(255, 255, 255, 0.499);
}

.multimedia__current {
    display: flex;
    width: 100%;
}

.multimedia__current__buttons {
    padding-bottom: 10px;
}

.multimedia__current__buttons ul {
    list-style-type: none;
}

.multimedia__current__buttons li {
    display: inline;
    color: white;
    padding: 0 10px;
}

.multimedia__current__time {
    width: 15%;
    font-size: 10px;
    color: white;
}

.multimedia__current__bar {
    width: 70%;
    padding: 5px;
}

.bar__background {
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 30px;
}

.bar__current {
    width: 20%;
    height: 3px;
    background-color: white;
    border-radius: 30px;
}

.multimedia__current__setting i {
    color: white;
    padding: 0 5px;
}

.volume__background {
    width: 50px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 4px;
}

.volume__current {
    width: 40%;
    height: 3px;
    background-color: white;
    border-radius: 30px;
}

/* LAYOUT */
.container {
    min-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col--100 {
    width: 100%;
}

.col--16 {
    width: calc(100% / 6);
}

.col--15 {
    width: 150px;
    height: 100px;
}

.col--15--active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.col--70 {
    width: calc(100% - 300px);
}

.col--70--active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.text-end {
    text-align: end;
}

.mleft {
    margin-left: 5px;
}

.text-center {
    text-align: center;
}

.py {
    padding: 5px 0 5px 10px;
}

.text--color {
    color: rgba(255, 255, 255, 0.904);
}

/* HOVER */
.nav__list__item:hover, .sidebar__search__text:hover, .sidebar__playlist__list__item:hover, .sidebar__account__text:hover, .multimedia__info__icon--heart:hover, .multimedia__info__icon--folder:hover {
    color: white;
    cursor: pointer;
}

.button--active:hover {
    font-size: 10px;
    cursor: pointer;
}

.multimedia__info__subtitle:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.current__button__play:hover {
    font-size: 30px;
    cursor: pointer;
}

.bar__current:hover, .volume__current:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.main__content__img {

}

.main__content__icon {
}
  

.main__content__img:hover .main__content__icon {
    display: block;
}


/* RESPONSIVE */
/* MD */
@media screen and ( max-width: 768px ) {
    .col--16 {
        width: calc(100% / 4);
    }
}

/* SM */
@media screen and ( max-width: 600px ) {
    .col--16 {
        width: calc(100% / 2);
    }

    .multimedia__current__buttons, .multimedia__current {
        min-width: 200px;
    }
}

/* XSM */
@media screen and ( max-width: 480px ) {
    .sidebar {
        width: 50px;
    }

    .upgrade {
        width: calc(100vw - 50px);
        left: 50px;
    }

    .main {
        width: calc(100vw - 50px);
        left: 50px;
    }

    .sidebar__menu span, .sidebar__playlist, .sidebar__account span, .logo, .sidebar__account__hr {
        display: none;
    }

    .sidebar__search__img {
        width: 25px;
        padding: 7px 0;
    }

    .sidebar__account__img {
        width: 25px;
        padding: 0 11px 10px 0
    }

    .col--15--active {
        align-items: end;
        padding-right: 5px;
    }

    .multimedia__info img {
        float: none;
        width: 30%;
        margin-top: 30px;
        position: relative;
        top: 20px;
    }

    .multimedia__info__title, .multimedia__info__subtitle {
        padding-left: 5px;
    }

    .multimedia__info__subtitle {
        padding-bottom: 20px;
    }

    .multimedia__info__icons {
        right: 80px;
        bottom: 85px;
    }

    .multimedia__current {
        width: 50%;
    }

    .volume__background, .volume__current {
        width: 3px;
        height: 50px;
    } 

}

@media screen and ( min-width: 480px ) {
    .logo-sm {
        display: none;
    }
}


