/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

/* SPECIFICS */
/* SIDEBAR */
.sidebar {
    background-color: black;
    width: 200px;
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: rgba(255, 255, 255, 0.499);
}

.sidebar__logo {
    padding: 15px 0 10px 10px;
}

.sidebar__logo img {
    width: 50%;
}

.sidebar__menu span {
    padding-left: 3px;
    font-size: 10px;
}

.sidebar__playlist {
    overflow-y: hidden;
}

.sidebar__playlist__title {
    padding-top: 15px;
    padding-bottom: 5px;
}

.sidebar__playlist ul {
    list-style-type: none;
    height: 43vh;
    overflow-y: auto;
}

.sidebar__playlist__list__item {
    font-size: 10px;
    padding: 10px 0;
}

.sidebar__account {
    background-color: black;
    position: fixed;
    bottom: 100px;
    left: 0px;
    z-index: 1;
}

.sidebar__account__install {
    font-size: 10px;
    padding: 0 0 5px 10px;
}

.sidebar__account__install span {
    padding: 5px 5px;
}

.sidebar__account__name {
    padding: 5px 0 5px 10px;
}

.sidebar__account__name span {
    font-size: 12px;
    padding: 5px 5px;
}

.sidebar__account__hr {
    margin: 0 10px 0 10px;
    width: 200%;
}

/* UPGRADE */
.upgrade {
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100vw - 200px);
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 1;
}

.button {
    background-color: black;
    color: white;
}

.button--active {
    border-radius: 20px;
    padding: 10px 30px;
    margin: 15px;
    font-size: 8px;
    font-weight: 600;
}

/* MAIN */
.main {
    background-color: rgb(40, 40, 40);
    width: calc(100vw - 200px);
    height: calc(100vh - 100px);
    position: fixed;
    top: 0;
    left: 200px;
    overflow-y: scroll;
}

.nav {
    margin-top: 75px;
    text-align: center;
}

.nav__list__item{
    display: inline;
    font-size: 9px;
    color: rgba(255, 255, 255, 0.499);
    padding: 0 5px;
}

.main__title {
    margin: 15px 0 0 5px;
    color: white;
}

.main__title__album {
    color: white;
    text-align: center;
    font-size: 13px;
}

.main__subtitle {
    color: rgba(255, 255, 255, 0.499);
    padding: 5px 0;
}

.main__content {
    margin: 5px;
    padding-top: 10px;
}

.main__content img {
    width: 100%;
}

/* MULTIMEDIA */
.multimedia {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.multimedia__current {
    display: flex;
    width: 100%;
}

.multimedia__current__time {
    width: 15%;
    background-color: chartreuse;

}

.multimedia__current__bar {
    width: 70%;
    background-color: darkorange;
}

/* LAYOUT */
.container {
    min-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col--100 {
    width: 100%;
}

.col--16 {
    width: calc(100% / 6);
}

.col--15 {
    width: 150px;
    background-color: crimson;
    height: 100px;
}

.col--70 {
    width: calc(100% - 300px);
    background-color: darkblue;
}

.col--70--active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.text-end {
    text-align: end;
}

.mleft {
    margin-left: 5px;
}

.text-center {
    text-align: center;
}

.py {
    padding: 5px 0 5px 10px;
}

.text--color {
    color: rgba(255, 255, 255, 0.904);
}

/* RESPONSIVE */
/* MD */
@media screen and ( max-width: 768px ) {
    .col--16 {
        width: calc(100% / 4);
    }
}

/* SM */
@media screen and ( max-width: 600px ) {
    .col--16 {
        width: calc(100% / 2);
    }
}

/* XSM */
@media screen and ( max-width: 480px ) {
    .sidebar {
        width: 50px;
    }

    .upgrade {
        width: calc(100vw - 50px);
        left: 50px;
    }

    .main {
        width: calc(100vw - 50px);
        left: 50px;
    }

    .sidebar__menu span, .sidebar__playlist, .sidebar__account span, .logo, .sidebar__account__hr {
        display: none;
    }
}

@media screen and ( min-width: 480px ) {
    .logo-sm {
        display: none;
    }
}


